@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Junior .NET Developer Assignment</h1>
    <p class="lead">Stefan Pavlović</p>
    <p><a href="https://www.linkedin.com/in/stefan-pavlovic-55379541/" class="btn btn-primary btn-lg">Linkedin &raquo;</a></p>
</div>